# Example class configuration for auto_battlebot
# Specify which implementations to use for each interface

[rgbd_camera]
type = "ZedRgbdCamera"
camera_fps = 60
svo_file_path = "/media/storage/true-battlebot-media/svo/2025-11-15_15-57-25.svo2"

[field_model]
type = "NoopFieldModel"

[field_filter]
type = "NoopFieldFilter"

[keypoint_model]
type = "NoopKeypointModel"

[robot_filter]
type = "NoopRobotFilter"

[navigation]
type = "NoopNavigation"

[transmitter]
type = "NoopTransmitter"

[publisher]
type = "NoopPublisher"
