# Example class configuration for auto_battlebot
# Specify which implementations to use for each interface

[rgbd_camera]
type = "ZedRgbdCamera"
camera_fps = 60
# svo_file_path = "/media/storage/true-battlebot-media/svo/1729981242.4295187.svo2"
# position_tracking = true
svo_file_path = "/media/storage/true-battlebot-media/svo/mini_bot_2024-10-26T13-29-41.svo2"
position_tracking = false
svo_real_time_mode = true

[field_model]
type = "DeepLabFieldModel"
model_path = "models/field_deeplabv3_r50_2024-09-05.torchscript"

[field_filter]
type = "PointCloudFieldFilter"
local_visualize_debug = false
distance_threshold = 0.1

[keypoint_model]
type = "YoloKeypointModel"
model_path = "models/yolo11x-pose_2024-10-11.torchscript"
debug_visualization = true

[keypoint_model.label_map]
"MR_STABS_MK1" = ["MR_STABS_MK1_FRONT", "MR_STABS_MK1_BACK"]
"MR_STABS_MK2" = ["MR_STABS_MK2_FRONT", "MR_STABS_MK2_BACK"]
"MRS_BUFF_MK1" = ["MRS_BUFF_MK1_FRONT", "MRS_BUFF_MK1_BACK"]
"MRS_BUFF_MK2" = ["MRS_BUFF_MK2_FRONT", "MRS_BUFF_MK2_BACK"]
"HOUSE_BOT" = ["HOUSE_BOT_FRONT", "HOUSE_BOT_BACK"]
"OPPONENT" = ["OPPONENT_FRONT", "OPPONENT_BACK"]

[robot_filter]
type = "RobotKalmanFilter"

front_keypoints = [
    "MR_STABS_MK1_FRONT",
    "MR_STABS_MK2_FRONT",
    "MRS_BUFF_MK1_FRONT",
    "MRS_BUFF_MK2_FRONT",
    "HOUSE_BOT_FRONT",
    "OPPONENT_FRONT",
]
back_keypoints = [
    "MR_STABS_MK1_BACK",
    "MR_STABS_MK2_BACK",
    "MRS_BUFF_MK1_BACK",
    "MRS_BUFF_MK2_BACK",
    "HOUSE_BOT_BACK",
    "OPPONENT_BACK",
]

[robot_filter.label_mapping]
"MR_STABS_MK1" = ["OUR_ROBOT_1"]
"MR_STABS_MK2" = ["OUR_ROBOT_1"]
"MRS_BUFF_MK1" = ["OUR_ROBOT_2"]
"MRS_BUFF_MK2" = ["OUR_ROBOT_2"]
"HOUSE_BOT" = ["NEUTRAL_ROBOT_1"]
"OPPONENT" = ["THEIR_ROBOT_1", "THEIR_ROBOT_2"]

[navigation]
type = "NoopNavigation"

[transmitter]
type = "PlaybackTransmitter"
init_delay_seconds = 0.2

[publisher]
type = "RosPublisher"

[runner]
max_loop_rate = 300.0
