# Example class configuration for auto_battlebot
# Specify which implementations to use for each interface

[rgbd_camera]
type = "ZedRgbdCamera"
camera_fps = 60
svo_file_path = "/home/benw/Downloads/1729981242.4295187.svo2"
svo_real_time_mode = true
position_tracking = true

[field_model]
type = "DeepLabFieldModel"
model_path = "models/field_deeplabv3_r50_2024-09-05.torchscript"

[field_filter]
type = "PointCloudFieldFilter"
local_visualize_debug = false
distance_threshold = 0.03

[keypoint_model]
type = "NoopKeypointModel"

[robot_filter]
type = "NoopRobotFilter"

[navigation]
type = "NoopNavigation"

[transmitter]
type = "PlaybackTransmitter"
init_delay_seconds = 0.2

[publisher]
type = "RosPublisher"

[runner]
loop_rate = 300.0
