# Example class configuration for auto_battlebot
# Specify which implementations to use for each interface

[rgbd_camera]
type = "ZedRgbdCamera"
camera_fps = 60
svo_file_path = "/media/storage/true-battlebot-media/svo/mini_bot_2024-10-26T13-29-41.svo2"
svo_real_time_mode = true
position_tracking = false

[field_model]
type = "NoopFieldModel"

[field_filter]
type = "NoopFieldFilter"

[keypoint_model]
type = "NoopKeypointModel"

[robot_filter]
type = "NoopRobotFilter"

[navigation]
type = "NoopNavigation"

[transmitter]
type = "NoopTransmitter"

[publisher]
type = "RosPublisher"
